NET "ADDRESS[1]" LOC = J3;
NET "ADDRESS[2]" LOC = K5;
NET "ADDRESS[3]" LOC = L3;
NET "ADDRESS[4]" LOC = J4;
NET "ADDRESS[5]" LOC = K3;
NET "ADDRESS[6]" LOC = H4;
NET "ADDRESS[7]" LOC = K4;
NET "ADDRESS[8]" LOC = G3;
NET "ADDRESS[9]" LOC = E3;
NET "ADDRESS[10]" LOC = F4;
NET "ADDRESS[11]" LOC = F5;
NET "ADDRESS[12]" LOC = N3;
NET "ADDRESS[13]" LOC = L5;
NET "ADDRESS[14]" LOC = M3;
NET "ADDRESS[15]" LOC = F3;
NET "ADDRESS[16]" LOC = L4;
NET "ADDRESS[17]" LOC = G4;
NET "ADDRESS[18]" LOC = H3;
NET "ADDRESS[19]" LOC = G5;
NET "ADDRESS[20]" LOC = D3;
NET "ADDRESS[21]" LOC = M4;
NET "ADDRESS[22]" LOC = A3;
NET "ADDRESS[23]" LOC = C3;

NET "DATA[0]" LOC = M2;
NET "DATA[1]" LOC = M1;
NET "DATA[2]" LOC = N2;
NET "DATA[3]" LOC = N1;
NET "DATA[4]" LOC = P2;
NET "DATA[5]" LOC = P1;
NET "DATA[6]" LOC = R1;
NET "DATA[7]" LOC = R3;
NET "DATA[8]" LOC = H1;
NET "DATA[9]" LOC = G1;
NET "DATA[10]" LOC = G2;
NET "DATA[11]" LOC = F2;
NET "DATA[12]" LOC = E1;
NET "DATA[13]" LOC = D1;
NET "DATA[14]" LOC = E2;
NET "DATA[15]" LOC = D2;
	 
	 
#WE
NET "WE" LOC = T3;
NET "OE" LOC = K2;
#MT-ADV
NET "ADV" LOC = B1;
NET "UB" LOC = J2;
NET "LB" LOC = J1;
#CF
NET "CE" LOC = K1;
#NET "CE" LOC = R6;#CF
# LOC = L2;#CRE
# LOC = C1;#WAIT
 
#LED
#NET "LEDS_OUT[0]" LOC = L14;
#NET "LEDS_OUT[1]" LOC = L13;
#NET "LEDS_OUT[2]" LOC = M14;
#NET "LEDS_OUT[3]" LOC = L12;
#NET "LEDS_OUT[4]" LOC = N14;
#NET "LEDS_OUT[5]" LOC = M13;
#NET "LEDS_OUT[6]" LOC = P14;
#NET "LEDS_OUT[7]" LOC = R16;

#debug
NET "DATA_SWITCH_8_BIT[0]" LOC = N15;
NET "DATA_SWITCH_8_BIT[1]" LOC = J16;
NET "DATA_SWITCH_8_BIT[2]" LOC = K16;
NET "DATA_SWITCH_8_BIT[3]" LOC = K15;
NET "DATA_SWITCH_8_BIT[4]" LOC = L15;
NET "DATA_SWITCH_8_BIT[5]" LOC = M16;
NET "DATA_SWITCH_8_BIT[6]" LOC = M15;
NET "DATA_SWITCH_8_BIT[7]" LOC = N16;

NET "clk_in" LOC = A8;
NET "clk_in" PERIOD = 20 ns HIGH 10 ns;

NET "WRITE_BUTTON" LOC = J13;
NET "READ_BUTTON" LOC = K14;
NET "RESET_BUTTON" LOC = K13;

#Logic Analyser Debug signals
NET "DEBUG_SIG_CE" LOC = R6;
NET "DEBUG_SIG_OE" LOC = R7;
NET "DEBUG_SIG_WE" LOC = R5;

NET "LA_ADDRESS[1]" LOC = B4;
NET "LA_ADDRESS[2]" LOC = A4;
NET "LA_ADDRESS[3]" LOC = C5;
NET "LA_ADDRESS[4]" LOC = B5;
NET "LA_ADDRESS[5]" LOC = E6;
NET "LA_ADDRESS[6]" LOC = D6;
NET "LA_ADDRESS[7]" LOC = C6;
NET "LA_ADDRESS[8]" LOC = B6;
NET "LA_ADDRESS[9]" LOC = E7;
NET "LA_ADDRESS[10]" LOC = D7;
NET "LA_ADDRESS[11]" LOC = C7;
NET "LA_ADDRESS[12]" LOC = B7;
NET "LA_ADDRESS[13]" LOC = D8;
NET "LA_ADDRESS[14]" LOC = C8;
NET "LA_ADDRESS[15]" LOC = A10;
#NET "LA_ADDRESS[16]" LOC = B10;
#NET "LA_ADDRESS[17]" LOC = D10;
#NET "LA_ADDRESS[18]" LOC = E10;
#NET "LA_ADDRESS[19]" LOC = B11;
#NET "LA_ADDRESS[20]" LOC = C11;
#NET "LA_ADDRESS[21]" LOC = D11;
#NET "LA_ADDRESS[22]" LOC = E11;
#NET "LA_ADDRESS[23]" LOC = B12;

NET "LEDS_OUT[0]" LOC = B10;
NET "LEDS_OUT[1]" LOC = D10;
NET "LEDS_OUT[2]" LOC = E10;
NET "LEDS_OUT[3]" LOC = B11;
NET "LEDS_OUT[4]" LOC = C11;
NET "LEDS_OUT[5]" LOC = D11;
NET "LEDS_OUT[6]" LOC = E11;
NET "LEDS_OUT[7]" LOC = B12;

NET "LA_CLK" LOC = C12;

