NET "ADDRESS[1]" LOC = J3;
NET "ADDRESS[2]" LOC = K5;
NET "ADDRESS[3]" LOC = L3;
NET "ADDRESS[4]" LOC = J4;
NET "ADDRESS[5]" LOC = K3;
NET "ADDRESS[6]" LOC = H4;
NET "ADDRESS[7]" LOC = K4;
NET "ADDRESS[8]" LOC = G3;
NET "ADDRESS[9]" LOC = E3;
NET "ADDRESS[10]" LOC = F4;
NET "ADDRESS[11]" LOC = F5;
NET "ADDRESS[12]" LOC = N3;
NET "ADDRESS[14]" LOC = M3;
NET "ADDRESS[15]" LOC = F3;
NET "ADDRESS[16]" LOC = L4;
NET "ADDRESS[17]" LOC = G4;
NET "ADDRESS[18]" LOC = H3;
NET "ADDRESS[19]" LOC = G5;
NET "ADDRESS[20]" LOC = D3;
NET "ADDRESS[21]" LOC = M4;
NET "ADDRESS[22]" LOC = A3;
NET "ADDRESS[13]" LOC = C3;

NET "DATA[0]" LOC = M2;
NET "DATA[1]" LOC = M1;
NET "DATA[2]" LOC = N2;
NET "DATA[3]" LOC = N1;
NET "DATA[4]" LOC = P2;
NET "DATA[5]" LOC = P1;
NET "DATA[6]" LOC = R1;
NET "DATA[7]" LOC = R3;
NET "DATA[8]" LOC = H1;
NET "DATA[9]" LOC = G1;
NET "DATA[10]" LOC = G2;
NET "DATA[11]" LOC = F2;
NET "DATA[12]" LOC = E1;
NET "DATA[13]" LOC = D1;
NET "DATA[14]" LOC = E2;
NET "DATA[15]" LOC = D2;
	 
	 
#WE
NET "clk_out" LOC = R7;
NET "WE" LOC = T3;
#OE
NET "OE" LOC = N16;
#NET "OE" LOC = K2;
NET "ADV" LOC = B1;#MT-ADV
# LOC = C2;#MT-CLK
#UB
NET "UB" LOC = J2;
#LB
NET "LB" LOC = J1;
NET "CE" LOC = K1;#CF
#NET "CE" LOC = R6;#CF
# LOC = L2;#CRE
# LOC = C1;#WAIT
 
#LED
NET "LEDS_OUT[0]" LOC = L14;
NET "LEDS_OUT[1]" LOC = L13;
NET "LEDS_OUT[2]" LOC = M14;
NET "LEDS_OUT[3]" LOC = L12;
NET "LEDS_OUT[4]" LOC = N14;
NET "LEDS_OUT[5]" LOC = M13;
NET "LEDS_OUT[6]" LOC = P14;
NET "LEDS_OUT[7]" LOC = R16;

NET "clk" LOC = A8;
